.food_type_selection{
    display: none;
}

.price_selection{
    display: none;
}

.country_selection{
    display: none;
}

.rate_selection{
    display: none;
}

.del_selection{
    display: none;
}